@charset "utf-8";


/*
      personla assiment

      Count down till MH Wilds 
      Author:taylor palen 
      Date: 11/5/2024

   Filename: styles.css

*/


/* HTML and Body styles */

body{
    background-color: rgb(181, 149, 60);
    font-size: 2.3em;
}

    
img.c{
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

    
     
    .clock{
      text-align: center;
      font-size: 3em;
    }
     /* make nav vertical*/
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    li a {
      display: block;
      width: 1000px;
      background-color: rgb(181, 149, 60);  
    }
   
h1{
   color: #5A6D5A;
    font-size: 4.5em;
    
}
h2{
   color: #5A6D5A;
   text-align: center;
   font-size: 2.4em;
}
h3{
  color: #5A6D5A;
   text-align: center;
   font-size: 3.4em;
}

footer{
   text-align: center;
}

p{
   font-size: 2.3em;
}